.coin-container{
    display:flex;
    justify-content: center;

    @media screen and (max-width: 600px){
        flex-direction:column;
        justify-content: center;
        margin-top: 2rem;
    }
}

.coin-row{
    display:flex;
    flex-direction:row;
    justify-items: center;
    align-items: center;
    height:5rem;
    margin-top:1rem;
    padding-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @media screen and (max-width: 600px){
        flex-direction:column;
        height:30rem;
        justify-content: center;
        margin-top:2rem;
    }
}

.coin-row:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
} 


.coin{
    display:flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;

    @media screen and (max-width: 600px){
        flex-direction:column;
    }
}

.coin h1 {
    font-size:1rem;
    width:150px;

    @media screen and (max-width: 600px){
        text-align: center;
        font-size:1.5rem;
    }
}

.coin img{
    height:30px;
    width:30px;
    margin-right:10px;

    @media screen and (max-width: 600px){
        height:6rem;
        width:6rem;
        padding:1rem;
    }
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width:100%;

    @media screen and (max-width: 600px){
        flex-direction:column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right:1rem;
    }
}


.coin-price{
    width:110px;
}

.coin-volume{
    width:200px;
}

.coin-marketcap{
    width:240px;
}

.coin-percent{
    width: 80px;
}

.red{
    color:red
}

.green{
    color:green;
}